<footer>
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-logo">
                <a [routerLink]="['/']"><img src="/images/Logo.png" alt="Logo Soft Chaos"></a>
            </div>
            
            <div class="footer-links-container">
                <div class="footer-links-column">
                    <h3>Navegação</h3>

                    <a [routerLink]="['/novidades']">NOVIDADES</a>
                    <a [routerLink]="['/tendencias']">TENDÊNCIAS</a>
                    <a [routerLink]="['/dicas']">DICAS</a>
                    <a [routerLink]="['/bastidores']">BASTIDORES</a>
                    <a [routerLink]="['/opiniao']">OPINIÃO</a>
                </div>
                
                <div class="footer-links-column">
                    <h3>Quem Somos</h3>

                    <a href="#">Nossa Equipe</a>
                    <a href="#">Contato</a>
                    <a href="#">Trabalhe Conosco</a>
                </div>
                
                <div class="footer-links-column">
                    <h3>Termos de Uso</h3>

                    <a target="_blank" href="http://planno.online/politicas-de-privacidade">Política de Privacidade</a>
                    <a href="#">Cookies</a>
                </div>
            </div>
            
            <div class="footer-newsletter">
                <p>Receba as últimas notícias e atualizações diretamente na sua caixa de entrada.</p>
                <div class="newsletter-form">
                    <input 
                        type="email" 
                        placeholder="Seu e-mail"
                        class="newsletter-input"
                    >
                    <button class="newsletter-btn">ASSINAR</button>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2026 Soft Chaos. Todos os direitos reservados.</p>
            
            <p>&copy; Site desenvolvido por <a target="_blank" href="http://planno.online">Planno</a></p>
        </div>
    </div>
</footer>