<header>
    <div class="logo-container">
        <a [routerLink]="['']"><img src="/images/Logo.png" alt="HeaderLogo"></a>

        <h1 class="logo-title">SOFT CHAOS</h1>

        <nav>
            <li>
                <a [routerLink]="['/novidades']">NOVIDADES</a>
                <a [routerLink]="['/tendencias']">TENDENCIAS</a>
                <a [routerLink]="['/dicas']">DICAS</a>
                <a [routerLink]="['/bastidores']">BASTIDORES</a>
                <a [routerLink]="['/opiniao']">OPINIAO</a>
            </li>
        </nav>
    </div>

    <div class="search-container">
        <div class="search-input-container">
            <i class="fas fa-search search-icon"></i>

            <input 
                type="search" 
                maxlength="100"
                name="q" 
                id="search-input"
                class="search-input"
                placeholder="Buscar..."
                [(ngModel)]="searchTerm"
                (input)="onSearchInput()"
                #searchInput
                aria-label="Buscar no blog"
                (keyup.enter)="onSearch()"
            >
        </div>

        <button type="button" (click)="onSubscribe()">ASSINAR</button>
    </div>
</header>

