<header>
    <div class="logo-container">
        <a [routerLink]="['']" class="brand-mark">
            <img src="/images/Logo.png" alt="HeaderLogo">
        </a>

        <h1 class="logo-title">SOFT CHAOS</h1>

        <nav>
            <ul>
                <li><a [routerLink]="['/novidades']">NOVIDADES</a></li>
                <li><a [routerLink]="['/tendencias']">TENDENCIAS</a></li>
                <li><a [routerLink]="['/dicas']">DICAS</a></li>
                <li><a [routerLink]="['/bastidores']">BASTIDORES</a></li>
                <li><a [routerLink]="['/opiniao']">OPINIAO</a></li>
            </ul>
        </nav>
    </div>

    <div class="search-container">
        <div class="search-input-container">
            <i class="fas fa-search search-icon"></i>

            <input 
                type="search" 
                maxlength="100"
                name="q" 
                id="search-input"
                class="search-input"
                placeholder="Buscar..."
                [(ngModel)]="searchTerm"
                (input)="onSearchInput()"
                #searchInput
                aria-label="Buscar no blog"
                (keyup.enter)="onSearch()"
            >
        </div>

        <button type="button" class="search-submit" (click)="onSearch()">PESQUISAR</button>
        <button type="button" class="subscribe-button" (click)="onSubscribe()">ASSINAR</button>
    </div>
</header>
