<app-header />

<div class="tendencias">
    <h1 class="main-title">TENDÊNCIAS</h1>

    <div class="main-content">
        @if (newsTendencias) {
            @for (news of newsTendencias; track news.id) {
                <a [routerLink]="['/noticia/', news.slug]">
                    <div class="card">
                        <div class="img-box">
                            <img [src]="news.imageURL || 'https://placehold.co/800x600?text=Soft+Chaos'" [alt]="news.title">
                        </div>
                        
                        <div class="text-box">
                            <h1 class="card-title">{{ news.title }}</h1>

                            <p class="card-desc">{{ news.description }}</p>
                        </div>
                    </div>
                </a>
            }
        }

        @else {
            <div class="no-news">
                <p>Nenhuma notícia até o momento...</p>
            </div>
        }
    </div>
</div>

<app-footer />
