.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.auth-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 0 15px var(--shadow);
    width: 30%;
    height: 75vh;
    border-radius: 30px;
    border: solid 3px var(--pink);
}

.auth-box .logo {
    width: 125px;
    transition: all 0.6s ease;
}

.auth-box .logo:hover {
    scale: 1.1;
}

.auth-box input {
    width: 275px;
    height: 50px;
    background-color: var(--gray);
    padding: 0 15px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
}

.auth-box .email {
    border: solid 2px var(--pink);
    color: var(--pink);
    font-weight: 600;
}

.auth-box .email::placeholder {
    color: var(--pink);
    font-weight: 600;
}

.auth-box .senha {
    border: solid 2px var(--green);
    color: var(--green);
    font-weight: 600;
}

.auth-box .senha::placeholder {
    color: var(--green);
    font-weight: 600;
}

.auth-box .btn {
    width: 275px;
    background-color: var(--red);
    height: 50px;
    border-radius: 10px;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: solid 2px var(--red);
    transition: all 0.6s ease;
}

.auth-box .btn:hover {
    border: solid 2px var(--red);
    background-color: var(--white);
    color: var(--red);
}